<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Product</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.7.0/vue-resource.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
 <table>
     <tbody>
      <tr>
          <th>id</th>
          <td><input type="text" id="id" name="id" th:value="${product.id}" readonly/></td>
      </tr>
     <tr>
         <th>name</th>
         <td><input type="text" name="name" id="name" th:value="${product.name}"/></td>
     </tr>
     <tr>
         <th>price</th>
         <td><input type="text" name="price" id="price" th:value="${product.price}"/></td>
     </tr>
     <tr>
         <th>available</th>
         <td><input type="text" name="available" id="available" th:value="${product.available}"/></td>
     </tr>
     <tr>
         <th>created_at</th>
         <td><input type="text" name="created_at" id="created_at" th:value="${product.created_at}"/></td>
     </tr>
     <tr>
         <th>updated_at</th>
         <td><input type="text" name="updated_at" id="updated_at" th:value="${product.updated_at}"/></td>
     </tr>
      <tr>
          <th>deleted_at</th>
          <td><input type="text" name="deleted_at" id="deleted_at" th:value="${product.deleted_at}"/></td>
      </tr>
     <tr>
         <th></th>
         <td><input type="button" id="btnupdate" name="btnupdate" value="Update"></td>
     </tr>
     </tbody>
 </table>

<script type="text/javascript">
  class Product {
      id='';
      name='';
      price='';
      available='';
      created_at='';
      updated_at='';
      deleted_at=''

      constructor(id, name, price, available,created_at,deleted_at,updated_at) {
          this.id = id;
          this.name = name;
          this.price = price;
          this.available=available;
          this.created_at = created_at
          this.updated_at = updated_at??new Date()
          this.deleted_at = deleted_at
      }

       isUpdateFieldsValid(){
          const { id, name, price, available, created_at,updated_at } = this;
        //  return id != null && name != null && price != null && available != null && created_at != null && updated_at != null;
           return id && name && price && available != null && created_at && updated_at;
      };
  } //end class

  $(function() {
      var today=new Date();
         $('#updated_at').val(today.getDate()+'-'+today.getMonth()+'-'+today.getFullYear());
      console.log('Jq is ready!');
      $('#btnupdate').on('click', function(e) {
         var id=$('#id').val();
         var name=$('#name').val();
         var price=$('#price').val();
         var available=$('#available').val();
         var created_at=$('#created_at').val();
         var deleted_at=$('#deleted_at').val();
         var updated_at=$('#updated_at').val();

          var product=new Product(id,name,price,available,created_at,deleted_at,updated_at);
          if(product.isUpdateFieldsValid()){
              //alert('ok')
             // alert(JSON.stringify(product));
              console.log(JSON.stringify(product));
             var url='/springwebdemo/api/products/'+product.id
              var json=JSON.stringify(product);
              axios.put(url,json )
                  .then(function (response) {
                      console.log(response);
                  })
                  .catch(function (error) {
                      console.log(error);
                  });

          }
          else {
               alert('Please fill in the fields');
          }
      })
  })

</script>
</body>
</html>